<!DOCTYPE html>
<html lang="en">
<head>
  {% block metadata %}
      {% include "theme::partials/metadata" %}
  {% endblock %}
</head>

<body>







  {% block footer %}
      {% include "theme::partials/footer" %}
  {% endblock %}
</body>
</html>
